{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {config, "config/sys.config"},
    {apps, [chat_serl]}
]}.

{eunit_tests, [{module, room_test}]}.

{relx, [{release, {chat_serl, "0.0.1"},
         [chat_serl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.
